@using PhoneMarket.Domain.Entity

@model Phone

@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>
<p>
    <ul>
        <li>@Model.Description</li>
        <li>@Model.TypePhone</li>
        <li>@Model.TypeOperatingSystem</li>
        <li>@Model.Price</li>
        <li>@Model.DateCreate</li>
    </ul>
</p>
